@media(max-width:1199px){
  
}
@media(max-width:991px){
    .lg-nav{
        display: none;
    }
    .mobileHeader {
        display: flex !important;
    }
    .mm-survey-results-score{
        font-size: 38px
    }
    .rights img{
        display: none
    }
}
@media(max-width:767px){
    .rights img {
        display: none
    }
    .serviceWidget .widgetContent p{
        text-align: right
    }
    .serviceWidget .widgetImg{
        width: 65px;
    }
    .serviceWidget .widgetContent {
        width: calc(100% - 80px);
    }

    .section-head h2 + p {
        width: 100%
    }
    .infoGrapic{
        width: 100%
    }
    .infoWidget:nth-child(odd),
    .infoWidget:nth-child(odd) .infoImg,
    .infoWidget:nth-child(odd) .infoContent,
    .infoWidget:nth-child(even){
        float: none
    }
    .infoWidget{
        margin: 30px 0;
        width: 100%;
        overflow: hidden;
    }
    
    .infoWidget .infoContent{
        float: left !important;
    }
    .infoWidget .infoImg{
        float: right !important
    }
    .infoWidget:after{
        content: none !important;
    }
    .infoWidget .infoContent h4{
        margin-top: 35px
    }
    .infoWidget .infoContent p{
        margin-bottom: 0
    }
    .infoWidget:before {
        left: 10px !important;
        top: 0
    }
    .infoWidget:nth-child(2){
        margin-top: 0
    }
}
@media(max-width:600px){
    .infoImg .i1,
    .infoImg .i2,
    .infoImg .i3{
        width: 30%
    }
    .infoImg i1 img,
    .infoImg i2 img,
    .infoImg i3 img{
        width: 100%
    }
    .infoImg .i3{
        left: 0;
        bottom: auto;
        top: 70px
    }
}
@media(max-width:400px){
    .infoImg{
        margin-top: 100px
    }
}