/*Table Content
==========================
    # General
        - Fonts
    # Links
    # Headings
    # Lists
        - Social-List
        - Contact-List
    # Images
*/


/* General
======================= */
/* Fonts */
@font-face {
    font-family: 'din';
    src: url(../vendor/fonts/DNI.ttf);
}

body{
    font-size: 18px;
    font-family: 'din';
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.bg-gray{
    background-color: #f5f5f5 !important
}
.bg-green{
    background-color: #69ac85 !important
}
.bg-yellow{
    background-color: #dbb371 !important
}
.custom-btn{
    background-color: #69ac85;
    color: #FFF;
    border:none;
    
    padding: 8px 20px 10px;
    cursor: pointer;
    box-shadow: 0 0 30px 6px rgba(31,51,73,.1);
    font-weight: bold;
    transition: all 0.3s ease-in-out
}
.custom-btn:hover{
    background-color: #dbb371;
    box-shadow: none
}
/* Links
==========================*/
a{
    
}
a, a:hover, a:focus{
    text-decoration: none;
    color: inherit
}
/* Headings 
========================== */
h1, h2, h3, h4, h5, h6 {
    display: block;
    margin: 0;
}
p{
    margin: 0;
}
.section-head{
    margin-bottom: 20px;
    color: #333;
}
.section-head h2{
    margin-bottom: 10px;
    font-size: 35px;
}
.section-head h2 + p{
    width: 75%;
    margin: 50px auto 30px
}
.section-head h2 + p a{
    color: #69ac85;
    text-decoration: underline
}
.section-head h2 span {
    color: #dbb371
}
.section-head span{
    color: #ccc
}
.section-p {
    position: relative;
    color: #333;
    margin-top: 50px
}
.section-p:after {
    content: "";
    position: absolute;
    top: -20px;
    right: 0;
    background: #333;
    height: 2px;
    width: 50px;
}
.section-p p {
    margin-bottom: 15px;
    text-align: justify;
    font-size: 18px;
}
.space-50 {
    padding: 50px 0
}
.space-30 {
    padding: 30px 0
}
.widget-content{
    text-align: center;
    margin-bottom: 30px
}
.widget-content i {
    width: 120px;
    height: 120px;
    line-height: 118px;
    
    font-size: 35px;
    border-radius: 50%;
    margin: 0 auto 25px;
    transition: all 0.3s ease-in-out;
     border: 1px solid transparent;
    
}
.widget-content h3{
    margin-bottom: 15px;
}
.widget-content.green  i{
    background: #69ac85;
    color: #FFF;
}
.widget-content.green h3 {
    color: #69ac85
}
.widget-content.green:hover  i{
    background: none;
    border: 10px solid #69ac85;
    color: #69ac85;
    border-bottom-color: transparent;
}
.widget-content.gray  i{
    background: #ccc;
    color: #FFF;
}
.widget-content.gray h3 {
    color: #ccc
}
.widget-content.gray:hover  i{
    background: none;
    border: 10px solid #ccc;
    color: #ccc;
    border-bottom-color: transparent;
}
.widget-content.yellow  i{
    background: #dbb371;
    color: #FFF;
}
.widget-content.yellow h3 {
    color: #dbb371
}
.widget-content.yellow:hover  i{
    background: none;
    border: 10px solid #dbb371;
    color: #dbb371;
    border-bottom-color: transparent;
}
.widget-content ul{
    text-align: right;
}
.widget-content ul li {
    margin-bottom: 20px;
    margin-right: 15px;
    position: relative
}
.widget-content ul li:before{
    content: "✔";
    position: absolute;
    top: 5px;
    right: -22px;
    font-family: 'Font Awesome 5 Free';
    color:#333
}
/*Lists
==========================*/
ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Images
=========================== */
img{
    display: block;
    max-width: 100%;
    height: auto;
}
/* Section Setting
============================ */ 
.section-lg{
    padding: 50px 0;
}
/* homeSlider
======================== */
.homeSlider{
    
}
.owl-item-slide {
    max-height: 600px;
    overflow: hidden
}
.owl-theme .owl-nav{
    margin: 0
}
.homeSlider .owl-item.active img{
    transform: scale(1.2);
    transition: all 15s linear
}
.homeSlider .owl-item img{
    transform: scale(1)
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next{
    position: absolute;
    top: 50%;
    font-size: 28px;
    color: #FFF;
    background: #0009;
    transform: translateY(-50%);
    height: 35px;
    line-height: 35px;
    width: 35px;
    outline: none
}
.owl-carousel .owl-nav button.owl-prev{
    right: 20px
}
.owl-carousel .owl-nav button.owl-next{
    left: 20px
}
/* teamCard
================= */
.teamCard{
    border: 1px solid #dbb371;
    padding: 20px;
    margin: 0 10px;
}
.teamCard img {
    width: 200px !important;
    height: 200px !important;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    border:1px solid transparent
}
.teamCard:hover img{
    border:5px solid #dbb371
}
.teamCard h4 {
    font-weight: bold;
    font-size: 28px;
    color: #dbb371
}
.teamCard span {
    color: #999;
    margin-top: 5px;
}
.teamCard p {
    margin-top: 20px;
}
.teamCard ul {
    
}
.teamCard ul li{
    display: inline-block;
    margin: 20px 5px;
}
.teamCard ul li a{
    color: inherit
}
.teamCard ul li i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 48px;
    border:1px solid #dbb371;
    cursor: pointer;
    color: #dbb371;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s ease-in-out
}
.teamCard ul li i:after{
    content: "";
    background: #dbb371;
    z-index: -1;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    transform-origin: center
}
.teamCard ul li i:hover:after {
    transform: scale(1);
}
.teamCard ul li i:hover {
    color: #FFF
}
/* chooseWidget
================== */
.chooseWidget{
    width: 250px;
    height: 250px;
    border: 5px solid #e9e9e9;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    margin: 10px auto 20px;
}   
.chooseWidget i{
    font-size: 26px;
    color: #dbb371;
    margin-top: -20px;
}
.chooseWidget img{
    width: 50px;
    margin: 0 auto;
}
.chooseWidget h4 {
    color: #121212;
    margin:  15px 0
}
.chooseWidget p {
    position: relative;
    font-size: 0;
    transition: all 0.3s ease-in-out;
    color: #FFF
}
.chooseWidget p:after{
    content: "";
    position: absolute;
    bottom: -20px;
    background: #dbb371;
    width: 50px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
}
.chooseWidget p:before{
    content: "";
    position: absolute;
    bottom: -30px;
    background: #dbb371;
    width: 30px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
}
.chooseWidget:hover p,
.chooseWidget.active p{
    font-size: 16px;
    
}
.chooseWidget:hover ,
.chooseWidget.active {
    background: #dbb371;
    border:0;
    border-radius: 0
}
.chooseWidget:hover i,
.chooseWidget.active i{
    color: #FFF
}
.chooseWidget:hover p:before,
.chooseWidget:hover p:after,
.chooseWidget.active p:before,
.chooseWidget.active p:after{
    background: #FFF
}
/* serviceWidget
=================== */
.serviceWidget{
    margin-bottom: 50px;
}
.serviceWidget .widgetImg{
    float: right;
    width: 100px;
    
}
.serviceWidget .widgetImg img{
    transition: all 0.3s ease-in-out
}
.serviceWidget .widgetContent{
    float: left;
    width: calc(100% - 120px)
}
.serviceWidget .widgetContent h4{
    color: #dbb371;
    position: relative;
    margin-bottom: 30px;
    font-weight: bold
}
.serviceWidget .widgetContent h4:after{
    content: "";
    position: absolute;
    bottom: -20px;
    height: 3px;
    width: 50px;
    background-color: #dbb371;
    right: 0;
    transition: all 0.3s ease-in-out
}
.serviceWidget .widgetContent p {
    text-align: justify
}
.serviceWidget:hover .widgetContent h4:after{
    width: 120px;
}
.serviceWidget:hover .widgetImg img{
    filter: drop-shadow(0 0 6px  rgba(0,0,0,0.5))
}
/* infoGrapic
======================= */
.infoGrapic{
    width: 700px;
    margin: auto;
    counter-reset: widget;
}
.infoWidget {
    width: 40%;
    margin-bottom: 25px;
    position: relative;
    
}

.infoWidget:nth-child(odd){
    float: right
}
.infoWidget:nth-child(odd) .infoImg {
    float: left;
}
.infoWidget:nth-child(odd) .infoContent {
    float: right;
}
.infoWidget:nth-child(even){
    float: left;
    margin-bottom: 39px;
}
.infoWidget:nth-child(even) .infoImg {
    float: right;
}
.infoWidget:nth-child(even) .infoContent {
    float: left;
}
.infoWidget .infoImg{
    width: 120px;
    height: 120px;
    margin: 0 10px
}
.infoWidget:hover .infoImg img{
    filter: drop-shadow(8px 8px 10px gray);
}

.infoWidget .infoImg img {
    transition: all 0.3s ease-in-out
}
.infoWidget:nth-child(2){
    margin-top: 75px;
}
.infoWidget .infoContent{
    width: calc(100% - 140px)
}
.infoWidget .infoContent h4 {
    margin-bottom: 10px;
}
.infoWidget .infoContent h4:after{
    content: ":";
    margin-right: 5px;
}
.infoWidget .infoContent p{
    color: #ff3605;
    margin-bottom: -5px;
}
.infoWidget .infoContent p:before {
    content: "-";
    margin-left: 5px;
}

/* arrows
=============== */

.infoWidget:nth-child(even):after{
    content: "";
    position: absolute;
    bottom: 30%;
    right: -85px;
    background-image: url(../images/arrow1.png);
    background-repeat: no-repeat;
    width: 75px;
    height: 111px;
    transform: rotateX(180deg);
}
.infoWidget:nth-child(odd):after{
    content: "";
    position: absolute;
    left: -68px;
    background-image: url(../images/arrow1.png);
    background-repeat: no-repeat;
    width: 75px;
    height: 111px;
    transform: rotate(180deg);
}
.infoWidget:nth-child(3):after{
    bottom: 27px;
}
.infoWidget:nth-child(5):after{
    bottom: 13px;
}
.infoWidget:nth-child(7):after{
    bottom: -1px;
}
.infoWidget:nth-child(9):after{
    bottom: 4px;
}
.infoWidget:before{
    counter-increment: widget;
    content: "0"counter(widget);
    top:0px;
    position: absolute;
    font-size: 20px;
    color: #c1c1c1;
    text-shadow: 1px 1px 2px #72726d;
}
.infoWidget:nth-child(odd):before{
    left: 0;
}
.infoWidget:first-child:after{
    content: "";
    position: absolute;
    bottom: 35%;
    left: -152px;
    background-image: url(../images/main-arrow.png);
    width: 177px;
    height: 144px;
    transform: rotateX(180deg);
}
.infoImg{
    position: relative;
    margin-top: 200px;
}
.i1{
    position: absolute;
    bottom: 100%;
    right: 50%;
    transform-origin: bottom;
    animation: anmateInfo 1s ease-in-out;
    
}
.i2{
    position: absolute;
    bottom: calc(100% - 35px);
    right:20px;
    transform-origin: bottom;
    animation: anmateInfo2 1s ease-in-out;
    animation-delay: 1.5s;
   
}
.i3{
    position: absolute;
    bottom: calc(100% - 235px);
    left: -100px;
    transform-origin: bottom;
}
@keyframes anmateInfo{
    from{
        transform: scale(0) rotate(-120deg) translateY(-82px);
    }
    to{
         transform: scale(1) rotate(0) translateY(0);
    }
}
@keyframes anmateInfo2{
    from{
        transform: scale(0) rotate(120deg) translateY(82px);
    }
    to{
         transform: scale(1) rotate(0) translateY(0);
    }
}
/* slider
================= */
.a_control-slider {
    color: #dbb371;
    display: none
}
.a_control-slider .a_arrow {
    cursor: pointer;
    font-size: 22px;
    display: inline-block;
}
/* download
=================== */
.download{
    color: #FFF;
    padding: 100px 0
}
.download p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.download p i {
    font-size: 25px;
    margin-left: 20px;
    
}
.download a {
    display: block;
    background: #dbb371;
    padding: 5px 0 10px;
    text-align: center;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.3s ease-in-out
}
.download a:hover{
    box-shadow: 0 0 30px 6px rgba(31,51,73,.1)
}
/* hire
=================== */
.hire{
    
}
.hire h4 {
    color: #69ac85;
    font-weight: bold;
    margin-bottom: 20px;
}
.hire ol {
    margin: 20px 0 30px
}

/* rights
====================== */
.rights{
    background-image: url(../images/rights-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.rights .section-head{
    color: #FFF
}
{
    
}
.card{
    background:#dbb371;
    border:0;
    margin-bottom: 25px;
    border-radius: 35px;
}
.card .card-header {
    padding: 0;
    background-color:transparent;
    border:none;
}
.card .card-header .card-link {
    display: block;
    padding: 9px 15px 15px;
    background-color: #dbb371;
    color: #FFF;
    border-radius: 35px;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}
.card .card-header .card-link.collapsed {
    background-color: #69ac85;
}
.card .collapse {
    
    
}
.card .collapse.show{
    
}
.card  .card-body {
   
}
.card  .card-body ol li{
    margin-bottom: 10px;
}
/* 
===================== */
.mm-survey {
	
}

.mm-survey-container {
	width: 100%;
	background: #fff;
}

.mm-survey-results-container {
	width: 100%;
	min-height: 500px;
	background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mm-survey-page {
	display: none;
	font-weight: 100;
	padding: 40px;
}

.mm-survey-page.active {
	display: block;
}

.mm-survey-controller {
	position: relative;
    height: 60px;
    background: #333;
    padding: 12px 14px;
}

.mm-survey-results-controller {
	position: relative;
    height: 60px;
    background: #333;
    padding: 12px 14px;
}

.mm-back-btn {
	display: inline-block;
    position: relative;
    float: right;
}

.mm-prev-btn {
	display: inline-block;
    position: relative;
    float: right;
}

.mm-next-btn {
	display: inline-block;
	opacity: 0.25;
    position: relative;
    float: left;
}

.mm-finish-btn {
	display: none;
    position: relative;
    float: left;
}

.mm-finish-btn button {
	background: #3DD2AF !important;
    color: #fff;
}

.mm-survey-controller button {
	background: #fff;
    border: none;
    padding: 8px 18px;
    font-weight: 300;
    cursor: pointer
}

.mm-survey-results-controller button {
	background: #fff;
	border: none;
	padding: 8px 18px;
}

.mm-survey-progress {
	width: 100%;
	height: 30px;
	background: #f5f5f5;
	overflow: hidden;
}

.mm-progress {
	transition: width 0.5s ease-in-out;
}

.mm-survey-progress-bar {
	height: 30px;
    width: 0%;
    background: linear-gradient(to right, #69ac85, #dbb371);
}

.mm-survey-q {
	list-style-type: none;
	padding: 0px;
}

.mm-survey-q li {
	display: block;
	/*padding: 20px 0px;*/
	margin-bottom: 10px;
	width: 100%;
	background: #fff;
}

.mm-survey-q li input {
	width: 100%;
}

.mm-survery-content label {
	width: 100%;
	padding: 10px 10px;
	margin: 0px !important;
}

.mm-survery-content label:hover {
	cursor: pointer;
}

.mm-survey-question {
	min-height: 100px;
}

.mm-survey-question p {
	font-size: 22px;
    font-weight: 200;
    margin-bottom: 20px;
    line-height: 40px;
}

.mm-survery-content label p {
	display: inline-block;
    position: relative;
    top: 2px;
    right: 30px;
    margin: 0px;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	color: #292321;
    font-weight: 300;
    font-size: 16px;
}

input[type="radio"] + label span {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 2px 0px 0 4px;
	vertical-align: middle;
	cursor: pointer;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

input[type="radio"] + label span {
 	background-color: #dee2e6;
}

input[type="radio"]:checked + label span {
	border: 2px solid #69ac85;
    background: #69ac85;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
	-webkit-transition: background-color 0.20s ease-in-out;
	-o-transition: background-color 0.20s ease-in-out;
	-moz-transition: background-color 0.20s ease-in-out;
	transition: background-color 0.20s ease-in-out;
}

.mm-survey-item {
	background: #fff;
	margin-bottom: 15px;
	border-bottom: 1px solid rgba(33,33,33,0.15);
    border-radius: 0px 4px 4px 0px;
}

.mm-prev-btn button:focus, .mm-next-btn button:focus, .mm-finish-btn button:focus {
	outline: none;
	border: none;
}

.mm-survey.okay .mm-next-btn {
	display: inline-block;
	opacity: 1;
}

.mm-finish-btn.active {
	display: inline-block;
}

.mm-survey-results {
	display: none;
}

.mm-survey-results-score {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 0px;
    
}
.mm-survey-results-list {
	list-style-type: none;
	padding: 0px 15px;
    margin: 0px;
}

.mm-survey-results-item {
	color: #fff;
    margin-top: 10px;
    padding: 15px 15px 15px 0px;
    font-weight: 300;
}

.mm-survey-results-item.correct {
	background: linear-gradient(to right, #69ac85, #dbb371);
}

.mm-survey-results-item.incorrect {
	background: linear-gradient(to right, #69ac85, #dbb371);
}

.mm-item-number {
	height: 40px;
	position: relative;
	padding: 0 17px;
	background: #333;
	color: #fff;
}

.mm-item-info {
	float: left;
    margin-left: 15px
}

/* form-group
============== */
.form-group{
    
}
.form-group .form-control{
    border-radius: 0;
    border: 1px solid #dbb371;
    transition: all 0.3 ease-in-out;
    
}
.form-group .form-control:focus{
    box-shadow: none;
    border-color: #69ac85
}
.form-group textarea.form-control {
    resize: vertical;
    min-height: 200px;
    max-height: 240px
}


.form-group label span {
    margin-right: 5px;
    color: #ff3605
}
.custom-control-label::after,
.custom-control-label::before{
    top: 0.75rem;
    right: 6px;
}


.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #69ac85
}
.whyNo,
.copy {
    display: none;
    margin-bottom: 20px;
}
.copy > p {
    margin-bottom: 20px;
}
.copy-content {
   overflow: hidden ;
    box-shadow: inset 0 0 10px 6px rgba(31,51,73,.1);
    border-radius: 5px;
}
.copy-content p {
    float: right;
    width: calc(100% - 80px);
    padding: 10px ;
}
.copy-content button {
    float: left;
    width: 50px;
    height: 50px;
    line-height: 48px;
    text-align: center;
    background: #dbb371;
    box-shadow: 0 0 30px 6px rgba(31,51,73,.1);
    font-size: 22px;
    transition: all 0.3s ease-in-out;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    border: none
}
.copy-content button:hover{
    background: #69ac85;
    
}
.copyToClipboard{
    display: none;
    color: #69ac85
}
/* banner
============================ */
.banner{
    display: flex;
    flex-direction: column;
    height: 300px;
    background: url(../images/rights-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    justify-content: center;
    align-items: center
}
.banner h3 {
    text-align: center;
    color: #FFF;
    margin-bottom: 20px;
    font-size: 35px;
    color: #dbb371
}
.breadcrumb {
    background: none;
    justify-content: center;
    color: #69ac85;
}

.breadcrumb  .breadcrumb-item {
    color: #dbb371;
}
.breadcrumb  .breadcrumb-item.active{
    color: #FFF
}
.breadcrumb  .breadcrumb-item a {
    color: inherit
}
/* orderForm
===================== */
.orderForm{
    
}
.orderForm h3{
    margin-bottom: 50px;
    color: #dbb371
}
/* iframe
============*/
iframe{
    width: 100%
}
/* contact-us
===========================*/
.contact-us{
    
}
.contact-us .c_widget{
    color: #3333;
    text-align: center
}
.contact-us .c_widget i {
    color: #dbb371;
    display: inline-block;
    margin-left: 10px;
    font-size: 30px;
    vertical-align: middle
}
.contact-us .c_widget p {
    text-decoration: underline;
    display: inline-block;
    color: #333;
    transition: all 0.3s ease-in-out
}
.contact-us .c_widget p a {
    color: inherit
}
/* footer
======================= */
footer {
    background: #dbb371;
    color: #FFF;
    padding: 50px 0
}
footer .brand img{
    width: 150px
}
footer .brand img,
footer p
{
    margin: 0px auto 
}
footer a.brand h3 {
    font-size: 40px
}
footer p{
    padding: 18px 0
}
footer p a{
    text-decoration: underline;
}
/*  socail-foot */
.socail-foot{
    margin-bottom: 30px
}
.socail-foot li{
    display: inline-block;
   
}
.socail-foot li a {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #ccc;
    border-radius: 2px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}
.socail-foot li a.twitter:hover{
    background:#55acee;
}
.socail-foot li a.instagram:hover{
    background:#e4405f;
}
.socail-foot li a.whatsapp:hover{
    background:#25D366;
}
.socail-foot li a.facebook:hover{
    background:#3b5999;
}
.socail-foot li a.snapchat:hover{
    background:#FFFC00;
}

.socail-foot li a i {
    
}

/* Scroll-top
===================*/
#scroll{
    background:#dbb371;
    color: #ffffff;
    font-size: 20px;
    right: 20px;
    position: fixed;
    z-index: 9999;
    text-align: center;
    bottom: 20px;
    cursor: pointer;
    display: none;
    padding: 10px;
    width: 50px;
    height: 50px;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent
}
#scroll:hover{
    color: #dbb371;
    background: #FFF;
    border-color: #dbb371
}
/* header
==================*/
header {
    position: sticky;
    position: -webkit-sticky;
    z-index: 998;
    top: 0;
    background: #FFF;
    box-shadow: 0 0 30px 6px rgba(31,51,73,.1);
    padding: 10px 0;
    
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav ul li {
    position: relative
}
nav ul li a.active,
.navMobile li a.active{
    color: #dbb371;
    font-weight: bold;
    
}

nav ul li a {
    transition: all 0.3s ease-in-out
}
nav ul li img{
    width: 150px;
}
nav ul li .sub-menu{
    position: absolute;
    min-width: 200px;
    text-align: center;
    background: #FFF;
    padding: 10px;
    display: block;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 30px 6px rgba(31,51,73,.1);
    top: calc(100% + 60px);
    transition: all 0.3s ease-in-out;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
    visibility: hidden;
    
}
nav ul li.open .sub-menu {
    visibility: visible;
    opacity: 1;
    top: calc(100% + 30px);
}
nav ul li .sub-menu li {
    display: block;
}
nav ul li .sub-menu li a {
    display: block;
    padding: 5px 0;
}
.navMobile{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
}
.navMobile .navbarM{
    min-height: 100vh;
    height: auto;
    width: 300px;
    background: #FFF;
    padding: 20px;
    box-shadow: 0 0 30px 6px rgba(31,51,73,.1);
    position: relative;
    transition: all 0.3s ease-in-out;
}
.navMobile.open .navbarM{
    transform: translateX(0);
}
.navMobile.closeM .navbarM{ 
    transform: translateX(100%);
    
}
.navMobile.open {
    visibility: visible;
    opacity: 1
}
.navMobile.closeM{
    visibility: hidden;
    opacity: 0.3
}
.navMobile ul{
    margin-top: 20px;
}
.navMobile img{
    margin-bottom: 20px;
}
.navMobile ul li a{
    padding: 5px 20px;
    display: block
}

.navMobile .closeMenu{
    position: absolute;
    top: 20px;
    left: 20px;
    color: #dbb371;
    font-size: 22px;
    cursor: pointer;
}
.mobileHeader {
    display: none !important;
}
.mobileHeader  img{
    width: 35px;
    height: 100%
}
.openMenu {
    color: #dbb371;
    font-size: 22px;
    cursor: pointer;
}
/* animation svg
=====================*/
.visac{
    visibility: hidden 
}
/*
#group_x5F_1{
    animation: opsvg  1s infinite linear ;
}

@keyframes opsvg{
    from{
        opacity: 0;
    }
    to{
        opacity: 1
    }
}*/


/* Preload 
=========================*/
.load {
    background:#ccc;
    color:#FFF;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:99999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column
}

.copy-button{
    float: left;
}
.usefulLink p {
    margin-bottom: 20px;
}
 